#   █████╗ ██╗     ██╗ █████╗ ███████╗███████╗███████╗
#  ██╔══██╗██║     ██║██╔══██╗██╔════╝██╔════╝██╔════╝
#  ███████║██║     ██║███████║███████╗█████╗  ███████╗
#  ██╔══██║██║     ██║██╔══██║╚════██║██╔══╝  ╚════██║
#  ██║  ██║███████╗██║██║  ██║███████║███████╗███████║
#  ╚═╝  ╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝

alias ls='lsd --group-dirs=first'
alias la='lsd -a --group-dirs=first'
alias ll='lsd -lh --group-dirs=first'
alias lla='lsd -lha --group-dirs=first'

alias cls='clear'
alias cll='clear;ls'
alias cla='clear;ls -la'

alias cat='batcat'
alias icat='kitty +kitten icat'

alias load-fonts='fc-cache -v -f'

alias per-mx='chmod a+x'
alias per-000='chmod 000'
alias per-644='chmod 644'
alias per-755='chmod 755'

alias stop-venv='deactivate'
alias start-venv='source $(get_venv_name)/bin/activate'
