#  ███████╗██╗  ██╗██████╗  ██████╗ ██████╗ ████████╗███████╗
#  ██╔════╝╚██╗██╔╝██╔══██╗██╔═══██╗██╔══██╗╚══██╔══╝██╔════╝
#  █████╗   ╚███╔╝ ██████╔╝██║   ██║██████╔╝   ██║   ███████╗
#  ██╔══╝   ██╔██╗ ██╔═══╝ ██║   ██║██╔══██╗   ██║   ╚════██║
#  ███████╗██╔╝ ██╗██║     ╚██████╔╝██║  ██║   ██║   ███████║
#  ╚══════╝╚═╝  ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝

export EDITOR='code'
export EDITOR_ALT='vim'
export BROWSER='firefox'
export LANG=en_CL.UTF-8

export DOTFILES="$HOME/dotfiles-bspwm"
export WALLPAPERS="$HOME/.config/wallpapers"
export PROGRAMMING="$HOME/Documents/Programming"
export REPOSITORIES="$HOME/Documents"


# ################## HISTORY SETTINGS ####################
export HISTORY_IGNORE="(ls|cd|pwd|exit|sudo reboot|history|cd -|cd ..)"
export HISTCONTROL=$HISTCONTROL${HISTCONTROL+,}ignoredups
export HISTCONTROL=ignoreboth
export HISTIGNORE='&:clear:ls:cd:[bf]g:exit:[ t\]*'
export PROMPT_COMMAND="history -a; history -c; history -r; $PROMPT_COMMAND"


# ################## SYSTEM SETTINGS ####################
export _JAVA_AWT_WM_NONREPARENTING=1
export MOZ_USE_OMTC=1
export SUDO_PROMPT="Deploying root access for %u. Password pls: "


# ################## PATH ####################
export PATH="$HOME/.local/bin:$HOME/bin:$PATH"
export PATH="/usr/local/bin:/usr/bin:/bin:$PATH"
export PATH="/usr/local/games:/usr/games:/usr/share/games:$PATH"
export PATH="/usr/local/sbin:/usr/sbin:/sbin:$PATH"
export PATH="/root/.local/bin:/snap/bin:/usr/sandbox:$PATH"
export PATH="$HOME/.local/share/flatpak/exports/share/applications:/var/lib/flatpak/exports/share/applications:$PATH"

